{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}SHEUZE BUX{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo">SHEUZE BUX</div>
        <div class="nav">
            <a href="{% url 'core:product_list' %}">Início</a>
            <a href="{% url 'core:product_list' %}">Produtos</a>
            <a href="#">Categorias</a>
        </div>
        <div class="user-actions">
            {% if request.user.is_authenticated %}
                <a href="#">Meu Perfil</a>
                <a href="{% url 'core:logout' %}">Sair</a>
            {% else %}
                <a href="{% url 'core:login' %}">Entrar</a>
                <a href="{% url 'core:register' %}">Cadastrar</a>
            {% endif %}
            <a href="{% url 'core:cart_detail' %}" class="button">
                Cart ({{ cart|length }})
            </a>
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
